<h1 class="mb-4 pb-2">Listado de Usuarios</h1>

<div class="row g-4">
  @for (user of listaUsuarios(); track user._id) {
    <div class="col-12 col-md-6 col-lg-3"> 
      <app-user-card [user]="user" (borrarUsuario)="procesarBorrado($event)"></app-user-card>
    </div>
  }
</div>

<!-- 3. Controles de Paginación -->
<div class="d-flex justify-content-center align-items-center gap-4 mt-5 mb-5">
  
   <div class="btn btn-outline-primary px-4 rounded-pill shadow-sm d-flex align-items-center gap-2">
      <span class="material-symbols-outlined" style="font-size: 20px;">arrow_left_alt</span>
      <button (click)="paginaAnterior()" 
              [disabled]="paginaActual() === 1"
              class="border-0 bg-transparent p-0" 
              style="color: inherit; font-weight: inherit;">
        Anterior
      </button>
  </div>

  <span class="fw-bold text-secondary">
    Página {{ paginaActual() }} de {{ totalPaginas() }}
  </span>
  
  <div class="btn btn-outline-primary px-4 rounded-pill shadow-sm d-flex align-items-center gap-2">
    <button (click)="paginaSiguiente()" 
            [disabled]="paginaActual() === totalPaginas()"
            class="border-0 bg-transparent p-0" 
            style="color: inherit; font-weight: inherit;">
      Siguiente
    </button>
    <span class="material-symbols-outlined" style="font-size: 20px;">arrow_right_alt</span>
  
</div>